<!DOCTYPE html>
<html>
<head>
<title>AERPAW Experimenter CI/CD</title>
<style>
    body {
        width: 90%;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>AERPAW Experimenter CI/CD (Jenkins with Gitea)</h1>
<p>Choose from the options below: </p>
<hr>
<p>
    <b>Jenkins</b> - <a href="https://127.0.0.1:8443/jenkins/">
      https://127.0.0.1:8443/jenkins/
    </a><br/>
    <b>Gitea</b> - <a href="https://127.0.0.1:8443/gitea/">
      https://127.0.0.1:8443/gitea/
    </a><br/>
</p>
</body>
</html>
