#!/usr/bin/env bash

# USAGE: $ source cicd-variables.sh

# AERPAW
export AERPAW_UUID=00000000-0000-0000-0000-000000000000
export FQDN_OR_IP=127.0.0.1

# Jenkins
export JENKINS_ADMIN_ID="admin"
export JENKINS_ADMIN_NAME="AERPAW Admin"
export JENKINS_ADMIN_PASSWORD="password123!"
export UID_JENKINS=1000
export GID_JENKINS=1000
export JENKINS_HOME=./jenkins_home
export JENKINS_OPTS="--prefix=/jenkins"
export JENKINS_SLAVE_AGENT_PORT=50000
export JENKINS_SSH_AGENT_PORT=50022
export CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml

# Nginx
export NGINX_HTTP_PORT=8080
export NGINX_HTTPS_PORT=8443
export NGINX_INDEX=./nginx/index.html
export NGINX_CONF=./nginx/default.conf
export NGINX_SSL_DIR=./ssl
export NGINX_LOG_DIR=./logs/nginx

# Miscellaneous
